#formDiv{
    margin: auto;
    text-align: center;
    border: solid;
}

.centerImg {
    width:75%;
    height:75%;
}

#outerContainer{
    display: block;
    position: fixed;
    /* left:25vw;
    top:15vh; */
    width:fit-content;
    height:fit-content;
    border: solid;
    border: solid blue;
    padding: 0%;
}

#num{
    border: solid red;
    position:absolute;
    font-size: 100vw;
    font-style: italic;
    font-weight: lighter;
    color: yellow;
    text-align: right;

    width:fit-content;
    height:fit-content;
    right:100%;
    padding: 0%;
    

    transform: translate(100%, -100%)
}