body{
    margin:0px;
}

form {
    /* border: solid; */
    display:flex;
    flex-direction: column;
    align-content: flex-start;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

#formDiv{
    padding: 20vh 1%;
    text-align: center;
    display: flex;
    /* height:100vh; */
    flex-direction: column;
    /* border: dashed; */
    align-content: center;
}

input {
    border-radius: 25px;
    margin:auto;
    padding:1%;
    font-size: 200%;
    text-align: center;
    border: 0.25rem solid;
    font-style:italic;
}

#submitButton {
    border-radius: 25px;
    padding:1%;
    font-size: 200%;
    text-align: center;
}

label{
    font-size:250%;
}

input[type=submit]{
    margin:10px;
    /* width : 50%; */
}

.centerImg {
    display: block;
    width: 100%;
    height: auto;
}

#outerContainer{
    position: relative;
    display: inline-block;
    width: 50%;
    transform: translate(46%, 15%);
}

#num{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: gold;
    font-style: italic;
    font-weight: bold;
    padding: 10px 20px; 
    font-size: 15vw; 
    text-align: right;

    -webkit-text-stroke: 0.015em black;
    text-shadow: 5px 5px 5px black;
}